@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon-fonts/icomoon.eot?feurin');
  src:  url('../fonts/icomoon-fonts/icomoon.eot?feurin#iefix') format('embedded-opentype'),
    url('../fonts/icomoon-fonts/icomoon.ttf?feurin') format('truetype'),
    url('../fonts/icomoon-fonts/icomoon.woff?feurin') format('woff'),
    url('../fonts/icomoon-fonts/icomoon.svg?feurin#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}
.icon-brain:before {
  content: "\e901";
}
.icon-coding:before {
  content: "\e902";
}
.icon-color-bucket:before {
  content: "\e903";
}
.icon-contact:before {
  content: "\e904";
}
.icon-download:before {
  content: "\e905";
}
.icon-folder:before {
  content: "\e906";
}
.icon-home:before {
  content: "\e907";
}
.icon-info:before {
  content: "\e908";
}
.icon-library:before {
  content: "\e909";
}
.icon-moon:before {
  content: "\e90a";
}
.icon-paint-brush:before {
  content: "\e90b";
}
.icon-palette:before {
  content: "\e90c";
}
.icon-search-codes:before {
  content: "\e90d";
}
.icon-send:before {
  content: "\e90e";
}
.icon-sun:before {
  content: "\e90f";
}
.icon-user:before {
  content: "\e910";
}
