@font-face {
  font-family: 'showverse-icomoon';
  src:  url('../fonts/showverse-icomoon-fonts/icomoon.eot?25i5ks');
  src:  url('../fonts/showverse-icomoon-fonts/icomoon.eot?25i5ks#iefix') format('embedded-opentype'),
    url('../fonts/showverse-icomoon-fonts/icomoon.ttf?25i5ks') format('truetype'),
    url('../fonts/showverse-icomoon-fonts/icomoon.woff?25i5ks') format('woff'),
    url('../fonts/showverse-icomoon-fonts/icomoon.svg?25i5ks#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'showverse-icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}
.icon-brain:before {
  content: "\e901";
}
.icon-codes:before {
  content: "\e902";
}
.icon-coding:before {
  content: "\e903";
}
.icon-color-bucket:before {
  content: "\e904";
}
.icon-contact:before {
  content: "\e905";
}
.icon-download:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-folder:before {
  content: "\e908";
}
.icon-game:before {
  content: "\e909";
}
.icon-github:before {
  content: "\e90a";
}
.icon-home:before {
  content: "\e90b";
}
.icon-info:before {
  content: "\e90c";
}
.icon-library:before {
  content: "\e90d";
}
.icon-linkedin:before {
  content: "\e90e";
}
.icon-mail:before {
  content: "\e90f";
}
.icon-moon:before {
  content: "\e910";
}
.icon-music:before {
  content: "\e911";
}
.icon-paint-brush:before {
  content: "\e912";
}
.icon-palette:before {
  content: "\e913";
}
.icon-search-codes:before {
  content: "\e914";
}
.icon-send:before {
  content: "\e915";
}
.icon-sport:before {
  content: "\e916";
}
.icon-sun:before {
  content: "\e917";
}
.icon-user:before {
  content: "\e918";
}
.icon-youtube:before {
  content: "\e919";
}
