@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800&display=swap");
@import "tailwindcss";
@import "../styles/showverse-icomoon-font-style.css";
@import "../styles/navbar-links.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --primary-font: "M PLUS Rounded 1c", sans-serif;

  /*
  --clr-accent1: #c0eb6a;
  --clr-accent2: #485550;
  --clr-accent3: #f4f6f0;
  --clr-accent4: #ffffff;
  --clr-accent3-dark: #131615;
  --clr-facebook: #1877F2;
  --clr-linkedin: #0077B5;
  --clr-youtube: #FF0000;
  --clr-github: #24292e;
  */
  --clr-accent-1: oklch(0.8834 0.1636 125.02);
  --clr-accent-2: oklch(0.4366 0.0183 170.25);
  --clr-accent-3: oklch(0.97 0.0082 121.63);

  --clr-white: oklch(1 0 0);
  --clr-dark: oklch(0.2743 0.0093 173.57);
  --clr-dark-2: oklch(0.1965 0.0051 173.82);

  /* Social Medias colors */
  --clr-facebook: oklch(0.5891 0.2029 257.86);
  --clr-linkedin: oklch(0.5458 0.130182 242.2738);
  --clr-youtube: oklch(0.628 0.2577 29.23);
  --clr-github: oklch(0.2781 0.0117 248.25);

  --clr-accent-1-light: hsl(79deg 81% 80%);
  --clr-accent-1-dark: hsl(82deg 73% 44%);

  --clr-accent-2-light: hsl(155deg 7% 50%);
  --clr-accent-2-dark: hsl(163deg 6% 22%);

  --clr-primary: var(--clr-accent-1);
  --clr-primary-light: var(--clr-accent-1-light);
  --clr-primary-dark: var(--clr-accent-1-dark);

  --clr-secondary: var(--clr-accent-2);
  --clr-secondary-light: var(--clr-accent-2-light);
  --clr-secondary-dark: var(--clr-accent-2-dark);

  --radius: 0.625rem;
}

.light {
  --clr-base-text: var(--clr-accent-2);
  --clr-page-bg: var(--clr-white);
  --clr-main-content-shape-bg: var(--clr-accent-3);

  /* ShadCN color variables */
  --background: var(--clr-white);
  --foreground: var(--clr-accent-2);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --clr-base-text: var(--clr-white);
  --clr-page-bg: var(--clr-dark-2);
  --clr-main-content-shape-bg: var(--clr-dark);

  /* ShadCN color variables */
  --background: var(--clr-dark-2);
  --foreground: var(--clr-white);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --font-sans: var(--primary-font);
  /* --font-mono: var(--font-geist-mono); */

  --color-primary: var(--clr-primary);
  --color-secondary: var(--clr-secondary);
  --color-accent-3: var(--clr-accent-3);
  --color-accent-4: var(--clr-white);

  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-facebook: var(--clr-facebook);
  --color-linkedin: var(--clr-linkedin);
  --color-youtube: var(--clr-youtube);
  --color-github: var(--clr-github);
  --color-base-text: var(--clr-base-text);
  --color-page-bg: var(--clr-page-bg);
  --color-main-content-shape-bg: var(--clr-main-content-shape-bg);

  /* ShadCN color variables */
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --text-tiny: 0.6875rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50 transition-colors duration-300;
  }

  body {
    @apply bg-background text-base-text font-sans;
    /*font-family: var(--primary-font);*/
  }
}

.main-content-shape {
  clip-path: polygon(0 0, 38% 0, 75% 100%, 0% 100%);
}
