@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800&display=swap");
@import "../styles/icomoon-font-style.css";
@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --primary-font: "M PLUS Rounded 1c", sans-serif;

  --clr-accent1: #C0EB6A;
  --clr-accent2: #485550;
  --clr-accent3: #F4F6F0;
  --clr-accent4: #FFFFFF;
  --clr-dark: 157deg 8% 31%;
  --clr-white: 0deg 0% 100%;

  --clr-accent1-light: 79deg 81% 80%;
  --clr-accent1-dark: 82deg 73% 44%;

  --clr-accent2-light: 155deg 7% 50%;
  --clr-accent2-dark: 163deg 6% 22%;

  --clr-primary: var(--clr-accent1);
  --clr-primary-light: var(--clr-accent1-light);
  --clr-primary-dark: var(--clr-accent1-dark);

  --clr-secondary: var(--clr-accent2);
  --clr-secondary-light: var(--clr-accent2-light);
  --clr-secondary-dark: var(--clr-accent2-dark);
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --font-sans: var(--font-m-plus-rounded);
  /* --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: var(--primary-font);
}
